@model EmployeeManagement.ViewModels.HomeDetailsViewModel
@{
    ViewBag.Title = "Employee Details";
}
<h3>@Model.PageTitleVM</h3>
<div>Name : @Model.EmployeeVM.Name</div>
<div>Email : @Model.EmployeeVM.Email</div>
<div>Department : @Model.EmployeeVM.Department</div>
@section Scripts {
	<script src="~/js/customscript.js"></script>
}