@model EmployeeManagement.ViewModels.HomeDetailsViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
        <h3>@Model.PageTitleVM</h3>
        <div>Name : @Model.EmployeeVM.Name</div>
        <div>Email : @Model.EmployeeVM.Email</div>
        <div>Department : @Model.EmployeeVM.Department</div>
    </body>
</html>